<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hack Fitness</title>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>
<body>

<div class="container">
    <h1>HackFitness</h1>

    <p>
        It's not a secret how difficult it is to make yourself to go to the gym on the regular basis. This App will
        motivate you to do that. </p>

    <p>You will have access to current group exercises schedule, will be able to enroll in
        personal training and to pay for it in one click using PayPall. You will add dates of planned workouts to your
        personal calendar and get motivational pop-ups every time you won't check-in on scheduled time. In the end of
        the month you'll get statistics of your real check-ins to find out if you did a good job. With this App you
        won't have a chance to pretend lazy and skip your workout! It'll help you to become fitter and stronger.
        HackFitness will change your way of life and even more than that!

    </p>

    <p>It will be very useful for business, too.
        Director of the gym can view statistics of check-ins depending on time and month so they could get feedback and
        draw up a marketing plans on it's basis.
    </p>

    <p>
        We also are going to replace access cards to the gym with QR-code from
        this App and to collect world gym network to exchange best-practice. But it's the second stage of our start-up.
    </p>

    <p>Technology: PHP (Silex) <a href="https://github.com/AlmazKo/hack_fitness">back-end</a>, Java (Android) <a href="https://github.com/AlmazKo/hack_fitness_android">front-end</a>.
    </p>
</div>

<a href="https://github.com/AlmazKo/hack_fitness_android"><img style="position: absolute; top: 0; right: 0; border: 0;"
                                                               src="https://camo.githubusercontent.com/365986a132ccd6a44c23a9169022c0b5c890c387/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f7265645f6161303030302e706e67"
                                                               alt="Fork me on GitHub"
                                                               data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"></a>
</body>
</html>